################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/TypeCast/v17/ipch/AutoPCH/dd12431f0fb57f70
/.vs/TypeCast/v17/Browse.VC.db
/.vs/TypeCast/v17/Browse.VC.opendb