################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/TypeCast/FileContentIndex/d867b2f8-c3ee-4049-86f9-4f1f2a976a47.vsidx
/.vs/TypeCast/v17
